
  {{#link-to 'post' post.id}}
    {{post.headline}} {{/link-to}}
    {{#ember-remodal openButton='Image'}}
        <img class="photos" src={{post.image}}>
    {{/ember-remodal}}

    <!-- <button {{action 'imageShow'}}>Show Image</button> -->
