<h1>Jared Beckler and Yvonna Contreras are junior developers who live in Portland, Oregon. They love beer, the outdoors, coffee, and puppies.</h1>

<img  src="https://avatars3.githubusercontent.com/u/16548014?v=3&s=400" class="img-circle">

<img src="https://avatars1.githubusercontent.com/u/16548986?v=3&s=400" class="img-circle">
