<div class="page-header">
  <h1 class="white">Becklers Brews</h1>
  <!-- <h3 class="title" class="white">{{#link-to 'contact'}} Contact us for more information!{{/link-to}}</h3> -->
</div>
<div class="container">
{{outlet}}
</div>

<div class="page-footer">
  <p>Copyright (c) 2016 | Yvonna Contreras & Jared Beckler | Epicodus | Portland, OR</p>
</div>
